body {
    margin: 0;
    top: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
    background: #000000;
    min-height: 100vh;
    user-select: text;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    text-transform: none;
    text-decoration: none;
    letter-spacing: normal;
    border: 0;
    vertical-align: baseline
}

p {
    margin: 0
}

button {
    outline: none;
    border: none;
    transition: .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transition: .2s ease-in-out;
}

a {
    transition: .2s ease-in-out;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    transition: .2s ease-in-out;
}

img {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


.main__container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: visible;
}

@media (max-width: 1480px) {
    .main__container {
        padding: 0px 24px 0px 24px;
    }
}

.main__container .hero__section header {
    display: flex;
    justify-content: space-between; align-items: center;
    padding-top: 28px; padding-bottom: 28px;
}

.main__container .hero__section header .header__logo {
    display: flex;
    flex-direction: row;
    justify-content: center; align-items: center;
    gap: 12px;
}

.main__container .hero__section header .header__logo p {
    color: #FBFCFF; font-size: 24px; 
}

.main__container .hero__section header .header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: center; align-items: center;
    gap: 64px;
}

.main__container .hero__section header .header__navigation a {
    color: #585858; font-size: 16px; font-weight: medium; 
}

.main__container .hero__section header .header__navigation a:hover {
    color: rgb(255, 255, 255);
}

.main__container .hero__section header .buttons {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    gap: 12px;
}

.main__container .hero__section header .buttons .cta__button {
    display: flex;
    align-items: center; justify-content: center;
    background: linear-gradient(180deg, rgb(139, 139, 139) 0%, rgb(79, 79, 79)  100%); border-top: 1px solid #a9a9a9 ; border-radius: 8px;
    padding: 14px 20px; height: 47px;

    color: #fbfcff; font-size: 16px; font-weight: 500; text-shadow: 0 1px 2px 0 #6e6e6e ;
    line-height: 100%; letter-spacing: -0.01em;
    text-align: center;
}

.main__container .hero__section header .buttons .cta__button:hover {
    background: linear-gradient(180deg, #616161 0%, #ffffff 100%);
}

.main__container .hero__section header .buttons .contacts__button {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    background: linear-gradient(180deg, rgba(139, 139, 139) 0%, rgba(79, 79, 79) 100%); border-top: 1px solid rgb(255, 255, 255); border-radius: 8px;
    padding: 13px 20px; gap: 6px; height: 47px;
}

.main__container .hero__section header .buttons .contacts__button:hover {
    background: linear-gradient(rgba(97, 97, 97), rgba(255, 255, 255));
}

.main__container .hero__section header .buttons .contacts__button p {
    color: #fbfcff; font-size: 16px; font-weight: 500; text-shadow: 0 1px 2px 0 rgba(12, 24, 55, 0.56);
    line-height: 100%; letter-spacing: -0.01em;
    text-align: center;
}

.main__container .hero__section header .header__button:hover {
    background: linear-gradient(rgba(97, 97, 97), rgba(255, 255, 255))
}

@media (max-width: 1050px) {
    .main__container .hero__section header .header__navigation {
        display: none;
    }
}

@media (max-width: 550px) {
    .main__container .hero__section header .header__logo p {
        display: none;
    }
}

@media (max-width: 370px) {
    .main__container .hero__section header {
        flex-direction: column; gap: 32px;
    }
}

.main__container .hero__section .offer__block {
    margin-top: 220px;
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    gap: 48px;
}

.main__container .hero__section .offer__block .offer__block--text {
    width: 100%;
    display: flex; flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.main__container .hero__section .offer__block .offer__block--text h1 {
    color: #fbfcff; font-size: 72px; font-weight: 700;
    line-height: 100%; letter-spacing: -0.02em;
    max-width: 715px;
    text-shadow: 0 1px 2px 0 rgba(12, 24, 55, 0.56);
}

.main__container .hero__section .offer__block .offer__block--text p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    max-width: 450px;
}

.main__container .hero__section .offer__block .offer__block--partners {
    display: flex; flex-direction: row; flex-wrap: wrap;
    align-items: center; justify-content: center;
    gap: 40px;
}
.main__container .hero__section .hero__section--background {
    position: absolute; top: 0; margin-left: -230px; z-index: -2;
}

@media (max-width: 1300px) {
    .main__container .hero__section .offer__block {
        justify-content: center; align-items: center;
    }
    .main__container .hero__section .offer__block .offer__block--text {
        flex-direction: column;
        justify-content: center; align-items: center;
        gap: 32px;
    }
    .main__container .hero__section .offer__block .offer__block--text h1 {
        text-align: center;
        max-width: 920px;
    }
    .main__container .hero__section .offer__block .offer__block--text p {
        text-align: center;
        max-width: 880px;
    }
}

@media (max-width: 550px) { 
    .main__container .hero__section .offer__block .offer__block--text h1 {
        font-size: 48px;
    }
}


.main__container .about__section {
    margin-top: 280px;
}

.main__container .about__section .structure {
    width: 100%;
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: space-between;
}

.main__container .about__section .structure h2 {
    color: #fbfcff; font-size: 40px; font-weight: 500;
    line-height: 100%; letter-spacing: -0.02em;
}

.main__container .about__section .structure .info {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 80px;
}

.main__container .about__section .structure .info .description {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start; 
    gap: 32px;
}

.main__container .about__section .structure .info .description p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    max-width: 430px;
}

.main__container .about__section .structure .info .statistic {
    display: flex; flex-direction: row; flex-wrap: wrap;
    align-items: center; justify-content: space-between;
    width: 100%;
}

.main__container .about__section .structure .info .statistic .statistic__element {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    gap: 12px;
}

.main__container .about__section .structure .info .statistic .statistic__element span {
    color: #fbfcff; font-size: 64px;
    line-height: 100%; letter-spacing: -0.02em;
}

@media (max-width: 550px) {
    .main__container .about__section .structure .info .statistic .statistic__element span {
        font-size: 40px;
    }
}

.main__container .about__section .structure .info .statistic .statistic__element p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
}

@media (max-width: 1300px) {
    .main__container .about__section .structure {
        flex-direction: column; justify-content: center; align-items: center;
        gap: 80px;
    }
}

@media (max-width: 900px) {
    .main__container .about__section .structure .info .description {
        flex-direction: column;
    }
    .main__container .about__section .structure .info .description p {
        max-width: 750px; text-align: center;
    }
    .main__container .about__section .structure .info .statistic {
        justify-content: center; align-items: center;
        gap: 32px;
    }
}


.main__container .advantages__section {
    position: relative;
    margin-top: 280px;
}

.main__container .advantages__section .structure {
    width: 100%;
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: space-between;
}

.main__container .advantages__section .structure h2 {
    color: #fbfcff; font-size: 40px; font-weight: 500;
    line-height: 120%; letter-spacing: -0.02em;
    max-width: 600px;
}

.main__container .advantages__section .structure .advantages {
    display: flex; flex-direction: column; flex-wrap: wrap;
    align-items: flex-start; justify-content: center;
    gap: 56px;
}

.main__container .advantages__section .structure .advantages .advantage__element {
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: flex-start;
    gap: 18px;
}

.main__container .advantages__section .structure .advantages .advantage__element .info {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    gap: 6px;
}

.main__container .advantages__section .structure .advantages .advantage__element .info span {
    color: #fbfcff; font-size: 18px;
    line-height: 100%; letter-spacing: -0.02em;
}

.main__container .advantages__section .structure .advantages .advantage__element .info p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    max-width: 510px;
}

.main__container .advantages__section .about__section--background {
    position: absolute; top: -250px; left: -250px;  z-index: -2;
}

@media (max-width: 1300px) {
    .main__container .advantages__section .structure {
        flex-direction: column; justify-content: center; align-items: center;
        gap: 80px;
    }
    .main__container .advantages__section .structure h2 {
        text-align: center; max-width: 800px;
    }
    .main__container .advantages__section .structure .advantages {
        flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;
    }
}


.main__container .services__section {
    position: relative;
    margin-top: 330px;
}

.main__container .services__section .structure {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center; 
    gap: 150px;
}

.main__container .services__section .structure .info {
    width: 100%;
    display: flex; flex-direction: row;
    align-items: flex-start; justify-content: space-between;
}

.main__container .services__section .structure .info h2 {
    color: #fbfcff; font-size: 40px; font-weight: 500;
    line-height: 120%; letter-spacing: -0.02em;
    max-width: 540px;
}

.main__container .services__section .structure .info p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    max-width: 530px;
}

.main__container .services__section .structure .services {
    width: 100%;
    display: flex; flex-direction: row; flex-wrap: wrap;
    align-items: center; justify-content: space-between;
}

.main__container .services__section .structure .services .service__block {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    gap: 32px;
}

.main__container .services__section .structure .services .service__block .header {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    gap: 40px;
}

.main__container .services__section .structure .services .service__block .header span {
    color: #fbfcff; font-size: 24px;
    line-height: 120%; letter-spacing: -0.02em;
    max-width: 205px;
}

.main__container .services__section .structure .services .service__block .description {
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: center;
    gap: 16px;
}

.main__container .services__section .structure .services .service__block .description p {
    color: rgba(251, 252, 255, 0.56); font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    max-width: 290px;
}

.main__container .services__section .services__section--background {
    position: absolute; top: -220px; left: -250px; z-index: -2;
}

@media (max-width: 1300px) {
    .main__container .services__section .structure .info {
        flex-direction: column; justify-content: center; align-items: center;
        gap: 24px;
    }
    .main__container .services__section .structure .info h2 {
        text-align: center; max-width: 750px; 
    }
    .main__container .services__section .structure .info p {
        text-align: center; max-width: 750px;
    }
    .main__container .services__section .structure .services {
        justify-content: center; align-items: center; gap: 120px;
    }
}


.main__container .cta__section {
    position: relative; margin-top: 360px;
    background: linear-gradient(180deg, #303030 0%, #242424 100%); border-top: 1.50px solid #181818; border-radius: 32px;
    padding-top: 72px; padding-bottom: 72px;
}

.main__container .cta__section .info {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 32px;
}

.main__container .cta__section .info .offer {
    display: flex; flex-direction: column;
    align-items: center; justify-content: flex-start;
    gap: 24px;
}

.main__container .cta__section .info .offer .text {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 16px;
}

.main__container .cta__section .info .offer span {
    color: #9b9b9b; font-size: 16px;
    line-height: 120%; letter-spacing: 0.05em;
    text-align: center;
}

.main__container .cta__section .info .offer .description {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    gap: 16px;
}

.main__container .cta__section .info .offer .description h2 {
    color: #fbfcff; font-size: 40px;
    line-height: 120%; letter-spacing: -0.02em;
    text-align: center;
    max-width: 640px;
}

.main__container .cta__section .info .offer .description p {
    color: #9b9b9b; font-size: 16px;
    line-height: 150%; letter-spacing: -0.01em;
    text-align: center;
    max-width: 600px;
}

.main__container .cta__section .info .buttons {
    display: flex; flex-direction: row;
    align-items: center; justify-content: flex-start;
    gap: 12px;
}

.main__container .cta__section .info .buttons .cta__button {
    display: flex;
    align-items: center; justify-content: center;
    background: linear-gradient(180deg, rgb(139, 139, 139) 0%, rgb(97, 97, 97) 100%); border-top: 1px solid rgb(41, 41, 41); border-radius: 8px;
    padding: 14px 20px; height: 47px;

    color: #fbfcff; font-size: 16px; font-weight: 500; text-shadow: 0 1px 2px 0 #2b3ea8;
    line-height: 100%; letter-spacing: -0.01em;
    text-align: center;
}

.main__container .cta__section .info .buttons .cta__button:hover {
    background: linear-gradient(180deg, rgb(97, 97, 97) 0%, rgb(255, 255, 255) 100%);
}

.main__container .cta__section .info .buttons .contacts__button {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    background: linear-gradient(180deg, rgba(139, 139, 139) 0%, rgba(97, 97, 97) 100%); border-top: 1px solid rgb(41, 41, 41); border-radius: 8px;
    padding: 13px 20px; gap: 6px; height: 47px;
}

.main__container .cta__section .info .buttons .contacts__button:hover {
    background: linear-gradient(rgba(97, 97, 97), rgba(255, 255, 255));
}

.main__container .cta__section .info .buttons .contacts__button p {
    color: #fbfcff; font-size: 16px; font-weight: 500; text-shadow: 0 1px 2px 0 rgba(12, 24, 55, 0.56);
    line-height: 100%; letter-spacing: -0.01em;
    text-align: center;
}

.main__container .cta__section .cta__section--background {
    position: absolute;
    border-radius: 32px;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%; height: 100%;
}

@media (max-width: 900px) {
    .main__container .cta__section {
        padding-right: 24px; padding-left: 24px;
    }
}

@media (max-width: 550px) { 
    .main__container .cta__section .info .offer .description h2 {
        font-size: 32px;
    }
}

@media (max-width: 380px) { 
    .main__container .cta__section .info .buttons {
        flex-direction: column;
    }
}


.main__container footer {
    margin-top: 240px;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    padding-top: 28px; padding-bottom: 28px;
}

.main__container footer .footer__logo {
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    gap: 12px;
}

.main__container footer .footer__logo p {
    color: #ffffff; font-size: 24px;
    line-height: 100%; letter-spacing: 0.01em;
}

.main__container footer .footer__navigation {
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    gap: 32px;
}

.main__container footer .footer__navigation a {
    color: #585858; font-size: 16px;
    line-height: 100%; letter-spacing: -0.01em;
    text-decoration: underline; text-decoration-skip-ink: none;
}

.main__container footer .footer__navigation a:hover {
    color: #ffffff;
}

.main__container footer .footer__navigation .twitter {
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    gap: 8px;
}

.main__container footer .data {
    color: #ffffff; font-size: 16px;
    line-height: 100%; letter-spacing: -0.01em;
}

@media (max-width: 900px) { 
    .main__container footer .footer__navigation {
        display: none;
    }
}

@media (max-width: 550px) { 
    .main__container footer .footer__logo p {
        display: none;
    }
}

